<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О сайте - Лягушки</title>
    <meta name="keywords" content="РКСП, примеры верстки, html">
    <link rel="stylesheet" href="../static/about.css">
</head>
<body>
    <header>
        <h1>Фото лягушек</h1>
        <nav>
            <ul>
                <li><a href="/">О лягушках</a></li>
                <li><a href="images">Фото</a></li>
                <li><a href="table">Таблица</a></li>
                <li><a href="registration">Обратная связь</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h2>Лягушки: Удивительные Создания Природы</h1>
        <h3>Строение и Анатомия</h2>
        <p>Лягушки — это амфибии, которые принадлежат к отряду бесхвостых (Anura). Они известны своим уникальным образом жизни, разнообразием видов и важной ролью в экосистемах. Лягушки обитают на всех континентах, кроме Антарктиды, и встречаются в самых различных средах обитания — от тропических лесов до пустынь.</p>

        <h3>Размножение и Жизненный Цикл</h2>
        <p>Лягушки размножаются в воде, откладывая яйца, которые развиваются в личинок — головастиков. Головастики имеют хвост и дышат с помощью жабр. По мере роста они проходят через метаморфоз, теряя хвост и развивая легкие, что позволяет им перейти к наземному образу жизни. Этот процесс может занять от нескольких недель до нескольких месяцев в зависимости от вида и условий окружающей среды.</p>

        <h3>Экологическая Роль</h2>
        <p>Лягушки играют важную роль в экосистемах. Они являются как хищниками, так и жертвами. Лягушки питаются насекомыми, что помогает контролировать их популяцию. В свою очередь, они сами служат пищей для многих животных, включая птиц, змей и млекопитающих. Таким образом, лягушки являются важным звеном в пищевой цепи.</p>

        <h3>Угрозы и Охрана</h2>
        <p>Несмотря на свою адаптивность, лягушки сталкиваются с множеством угроз, включая потерю среды обитания, загрязнение окружающей среды и изменение климата. Многие виды лягушек находятся под угрозой исчезновения. Охрана их естественной среды обитания и проведение исследований по их биологии и экологии являются важными шагами для сохранения этих удивительных существ.</p>
    </div>
</body>
</html>
