<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фото - Лягушки</title>
    <meta name="keywords" content="РКСП, примеры верстки, html">
    <link rel="stylesheet" href="../static/images.css">
</head>
<body>
    <header>
        <h1>Фото лягушек</h1>
        <nav>
            <ul>
                <li><a href="/">О лягушках</a></li>
                <li><a href="images">Фото</a></li>
                <li><a href="table">Таблица</a></li>
                <li><a href="registration">Обратная связь</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="images">
            <h2>Изображения</h2>
            <div class="image-container">
                <img src="../static/images/large-image.png" alt="Большое изображение">
                <div class="small-images">
                    <img src="../static/images/small-image1.png" alt="Маленькое изображение 1" class="small-image1">
                    <img src="../static/images/small-image1.png" alt="Маленькое изображение 2" class="small-image2">
                    <img src="../static/images/small-image1.png" alt="Маленькое изображение 3" class="small-image3">
                </div>
            </div>
        </section>
    </main>
</body>
</html>
