<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обратная связь - Лягушки</title>
    <meta name="keywords" content="РКСП, примеры верстки, html">
    <link rel="stylesheet" href="../static/regist.css">
</head>
<body>
    <header>
        <h1>Фото лягушек</h1>
        <nav>
            <ul>
                <li><a href="/">О лягушках</a></li>
                <li><a href="images">Фото</a></li>
                <li><a href="table">Таблица</a></li>
                <li><a href="registration">Обратная связь</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="registration">
            <h2>Обратная связь</h2>
            <form id="feedbackForm" onsubmit="sendData(event);">
                <label for="name">Имя:</label>
                <input type="text" id="name" name="name">
                
                <label for="email">Email:</label>
                <input type="text" id="email" name="email">
                
                <label for="phone">Телефон:</label>
                <input type="text" id="phone" name="phone"> 
    
                <button type="submit">Отправить</button>
            </form>
        </section>
    </main>
    <script src="../static/jscript.js"></script>
</body>
</html>