<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/table.css">
    <title>Список лягушек</title>
</head>
<body>
    <header>
        <h1>Фото лягушек</h1>
        <nav>
            <ul>
                <li><a href="/">О лягушках</a></li>
                <li><a href="images">Фото</a></li>
                <li><a href="table">Таблица</a></li>
                <li><a href="registration">Обратная связь</a></li>
            </ul>
        </nav>
    </header>
    <div class="frog-grid">
        <div class="frog-card">
            <img src="../static/images/small-image1.png" alt="Лягушка 1">
            <h3>Лягушка 1</h3>
            <p>Краткое описание лягушки 1.</p>
        </div>
        <div class="frog-card">
            <img src="../static/images/small-image1.png" alt="Лягушка 2">
            <h3>Лягушка 2</h3>
            <p>Краткое описание лягушки 2.</p>
        </div>
        <div class="frog-card">
            <img src="../static/images/small-image1.png" alt="Лягушка 3">
            <h3>Лягушка 3</h3>
            <p>Краткое описание лягушки 3.</p>
        </div>
        <div class="frog-card">
            <img src="../static/images/small-image1.png" alt="Лягушка 4">
            <h3>Лягушка 4</h3>
            <p>Краткое описание лягушки 4.</p>
        </div>
        <div class="frog-card">
            <img src="../static/images/small-image1.png" alt="Лягушка 5">
            <h3>Лягушка 5</h3>
            <p>Краткое описание лягушки 5.</p>
        </div>
    </div>
</body>
</html>
