body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}


header {
    background-color: #298936;
    color: white;
    padding: 20px 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

#images {
    text-align: center;
}

#images h2 {
    color: #298936; /* цвет заголовка */
}

.image-container {
    position: relative; /* относительное */
    width: 50%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 8px; /* скругленные углы */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* рамка */
}

.image-container img {
    width: 100%;
    height: auto;
    display: block; /* убирает лишние отступы */
    border-radius: 8px; /* скругленные углы */
}

.small-images {
    position: absolute;
    top: 0; /* позиционируем относительно контейнера */
    left: 0;
    width: 100%;
    height: 100%;
}

.small-images img {
    position: absolute;
    width: 100px; /* ширина мелких */
    height: auto;
    z-index: 2; /* мелкие поверх большого */
}

.small-image1 {
    top: 10%;
    left: 10%;
}

.small-image2 {
    top: 30%;
    left: 30%;
}

.small-image3 {
    top: 50%;
    left: 50%;
}
